@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';
*, html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Roboto, "Helvetica Nueue", Helvetica, sans-serif;
}

body, html, h1, h2, h3, h4, h5, h6, p,
.huge, .x-large, .large, .medium, .small, .x-small {
  margin: 0;
  padding: 0;
}

.huge, h1 {
  font-size: 64px;
  line-height: 64px;
}

.x-large, h2 {
  font-size: 48px;
  line-height: 48px;
}

.large, h3 {
  font-size: 36px;
  line-height: 36px;
}

.medium, h4 {
  font-size: 24px;
  line-height: 24px;
}

.small, h5 {
  font-size: 18px;
  line-height: 18px;
}

.x-small, h6 {
  font-size: 12px;
  line-height: 12px;
}

em, .text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
}

.title {
  font-size: 42px;
  line-height: 42px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto 50px auto;
  padding-bottom: 5px;
  border-bottom: 2px solid #313335;
}

.button {
  width: 160px;
  padding: 10px;
  font-size: 20px;
  line-height: 20px;
  border-radius: 3px;
  border: none;
  background-color: #f3f3f3;
  color: #313335;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.button:hover {
  background-color: silver;
  transform: scale(1.1);
}

.primary-button {
  background-color: #446CB3;
  color: #fff;
}

.primary-button:hover {
  background-color: #283f69;
}

.secondary-button {
  background-color: #ec4a59;
  color: #fff;
}

.secondary-button:hover {
  background: #bc1423;
}

@media screen and (max-width: 500px) {
  .button {
    width: 120px;
  }
}

#navigation {
  width: 100%;
  min-height: 80px;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.brand-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.brand-image {
  height: 60px;
  width: auto;
}

.brand-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 20px;
}

.navigation-links-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: #446CB3;
  font-size: 24px;
  line-height: 24px;
  margin: 28px 0 28px 15px;
  cursor: pointer;
}

.nav-link:hover {
  color: #ec4a59;
  transition: .3s ease-in-out;
}

.navigation-mobile-toggle {
  height: 30px;
  margin: 25px 0;
  display: none;
}

.navigation-mobile-toggle-image {
  height: 30px;
  width: auto;
}

#mobile-navigation {
  position: fixed;
  width: 100%;
  display: none;
  background: #fff;
}

.mobile-navigation-wrapper {
  width: 100%;
  height: 100vh;
}

.mobile-navigation-links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .brand-wrapper {
    margin-left: 20px;
  }
  .brand-title {
    display: none;
  }
  .navigation-links-wrapper {
    display: none;
  }
  .navigation-mobile-toggle {
    display: block;
    margin-right: 20px;
    text-align: right;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: url("../images/industrial-sink.jpg") 50% 25% no-repeat;
  background-size: cover;
  min-height: 300px;
}

.hero-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: #fff;
  padding: 20px 0 10px;
  font-size: 36px;
  line-height: 36px;
}

.hero-description {
  color: #fff;
  padding: 20px 0 10px;
  font-size: 24px;
  line-height: 24px;
}

.hero-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px auto;
  width: 60%;
}

@media screen and (min-width: 1200px) {
  #hero {
    min-height: 500px;
  }
  .hero-wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .hero-wrapper {
    width: 80%;
  }
  .hero-button-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .hero-wrapper {
    width: 95%;
  }
  .hero-title {
    color: #fff;
    padding: 20px 0 10px;
    font-size: 30px;
    line-height: 30px;
  }
  .hero-description {
    color: #fff;
    padding: 20px 0 10px;
    font-size: 18px;
    line-height: 18px;
  }
}

#cta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 80px;
  background-color: #446CB3;
  color: #fff;
}

.cta-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cta-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  margin: 16px 10px;
}

.cta-link {
  font-size: 48px;
  line-height: 48px;
  margin: 16px 10px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.cta-link:hover {
  color: #ec4a59;
  transform: scale(1.05);
}

@media screen and (max-width: 800px) {
  .cta-wrapper {
    flex-direction: column;
  }
  .cta-title {
    font-size: 30px;
    line-height: 30px;
    margin: 10px auto 5px auto;
  }
  .cta-link {
    font-size: 30px;
    line-height: 30px;
    margin: 5px auto 10px auto;
  }
}

#industry {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
  background: #F4F4F4;
}

.industry-icon-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.industry-category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}

.industry-category-icon-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffb2b2;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.industry-category-icon {
  height: 60px;
  width: auto;
  margin: 0 auto;
}

.industry-category-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 20px 0;
  width: 100px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .industry-category-wrapper {
    width: 30%;
  }
  .industry-category-title {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .industry-category-icon-circle {
    height: 80px;
    width: 80px;
  }
  .industry-category-icon {
    width: 40px;
  }
}

#about {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 3px;
  background: #F4F4F4;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.about-wrapper p {
  font-size: 18px;
  line-height: 18px;
  padding: 10px;
}

.about-wrapper a {
  font-weight: 700;
  color: #ec4a59;
  padding: 5px;
}

.lead {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .about-wrapper {
    width: 90%;
    padding: 10px;
  }
  p {
    padding: 10px 0;
  }
}

#equipment {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  background: #F4F4F4;
}

.equipment-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.equipment-card-wrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 30px;
  padding: 30px 10px;
  background: #fff;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.equipment-card-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 10px;
}

.equipment-card-header {
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
  padding: 10px;
}

.equipment-card-description {
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 18px;
}

@media screen and (max-width: 800px) {
  .equipment-wrapper {
    width: 90%;
    flex-direction: column;
  }
  .equipment-card-wrapper {
    width: 100%;
  }
}
