// About Section Styling

#about
  display: flex
  display: -ms-flexbox
  flex-direction: column
  -ms-flex-direction: column
  padding: 50px 0

.about-title

.about-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  width: 80%
  margin: 0 auto
  padding: 30px
  border-radius: 3px
  background: $background-color
  -moz-box-shadow: $box-shadow
  -webkit-box-shadow: $box-shadow
  box-shadow: $box-shadow

  // p
  //   font-size: 18px
  //   line-height: 18px
  //   padding: 10px

  a
    font-weight: 700
    color: $secondary-color
    padding: 5px

.lead
  font-weight: 700


// Media Queries
@media screen and (max-width: $tablet-breakpoint)
  .about-wrapper
    width: 90%
    padding: 10px

  p
    padding: 10px 0
