// Contact Section Styling
#contact
  display: flex
  flex-direction: column
  padding: 50px 0

.contact-title

.contact-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 80%
  background: $background-color
  margin: auto
  border-radius: 3px
  -moz-box-shadow: $box-shadow
  box-shadow: $box-shadow

.contact-content-wrapper
  width: 50%
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 30px
  i
    color: $secondary-color
    margin-right: 10px
    width: 20px

.contact-information
  font-size: 18px
  line-height: 22px

.contact-address-wrapper
  display: flex

.contact-address
  padding-bottom: 10px

.contact-phone-wrapper
  display: block
  padding-bottom: 10px

.contact-phone-number
  color: $primary-color

.contact-email-wrapper
  display: block
    padding-bottom: 10px

.contact-email
  color: $primary-color

.contact-map-wrapper
  margin-top: 20px

#map
  width: 100%
  height: 400px
  border-radius: 3px

.contact-form-wrapper
  width: 50%
  display: flex
  flex-direction: column
  justify-content: center
  padding: 30px

  .contact-form-title
    height: 100%
    h3
      font-weight: 300

.contact-form
  width: 100%
  margin: auto

.contact-form-group
  width: 100%
  margin: 0 auto 20px

.contact-form-message
  height: 200px

// Media Queries
@media screen and (max-width: $tablet-breakpoint)
  .contact-wrapper
    flex-direction: column
    width: 90%

  .contact-content-wrapper
    width: 100%

  #map
    height: 200px

  .contact-form-wrapper
    width: 100%
