// Industry Section Styling

#industry
  display: flex
  flex-direction: column
  text-align: center
  padding: 50px 0
  background: $background-color

.industry-title

.industry-icon-wrapper
  width: 100%
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-around

.industry-category-wrapper
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin: 0 auto

.industry-category-icon-circle
  display: flex
  display: -ms-flexbox
  flex-direction: column
  -ms-flex-direction: column
  justify-content: center
  -ms-flex-align: center
  border-radius: 50%
  background-color: $industry-icon-color
  height: 100px
  width: 100px
  margin: 0 auto

.industry-category-icon
  height: 60px
  width: auto
  margin: 0 auto

.industry-category-title
  font-size: 18px
  line-height: 22px
  font-weight: 700
  padding: 20px 0
  width: 100px
  text-align: center


// Media Queries

@media screen and (max-width: $tablet-breakpoint)
  .industry-category-wrapper
    width: 30%

  .industry-category-title
    margin: 0 auto

@media screen and (max-width: $mobile-breakpoint)
  .industry-category-icon-circle
    height: 80px
    width: 80px

  .industry-category-icon
    width: 40px
