// Navigation Styling Section

// Navigation

#navigation
  position: fixed
  display: block
  width: 100%
  height: 80px
  background: $white
  box-shadow: $box-shadow
  z-index: 10

.navigation-wrapper
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between

.brand-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.brand-image
  height: 60px
  width: auto
  opacity: .95

.brand-title
  font-size: 30px
  line-height: 30px
  font-weight: 700
  letter-spacing: 1px
  margin-left: 20px

.navigation-links-wrapper
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between

.nav-link
  text-decoration: none
  color: $primary-color
  font-size: 24px
  line-height: 24px
  margin: 28px 0 28px 30px
  cursor: pointer
  &:hover
    color: $secondary-color
    transition: .3s ease-in-out

.navigation-mobile-toggle
  height: 30px
  margin: 25px 0
  display: none

.navigation-mobile-toggle-image
  height: 30px
  width: auto

// Media Queries

@media screen and (max-width: 1000px)
  .brand-title
    font-size: 18px
    line-height: 1.2

@media screen and (max-width: $tablet-breakpoint)
  .navigation-wrapper.fixed
    position: fixed
    top: 0
    left: 0

  .brand-wrapper
    margin: 10px 0 10px 20px

  .brand-title
    display: none

  .navigation-links-wrapper.closed
    transform: rotateY(90deg)
    transform-origin: left

  .navigation-links-wrapper
    flex-direction: column
    position: fixed
    top: 80px
    left: 0
    bottom: 0
    width: 100%
    height: 100%
    justify-content: flex-start
    text-align: center
    background: $white
    transition: all 600ms ease-in-out

  .navigation-mobile-toggle
    display: block
    margin-right: 20px
    text-align: right

  .navigation-mobile-toggle.fixed
    position: fixed
    top: 0
    right: 0

  .nav-link
    margin: 30px 0
